<form class="form-modal" (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <!-- <img *ngIf="form.get('imageSrc').value" [src]="form.get('imageSrc').value" class="avatar mr-5"> -->

    <!-- <h2 *ngIf="form.get('firstName').value || form.get('lastName').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('firstName').value + ' ' + form.get('lastName').value }}</h2> -->
    <h2 class="headline m-0" fxFlex="auto">New Order</h2>

    <button
      [matMenuTriggerFor]="settingsMenu"
      class="text-secondary"
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>
  <div *ngIf="!isFormReady" class="card overflow-auto -mt-16">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      "
    >
      <mat-spinner color="primary"> </mat-spinner>
    </div>
  </div>
  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto" required>
        <mat-label>Customer Name</mat-label>
        <mat-select  (selectionChange)="setSelectedCustomerData($event)" placeholder="Item Name" formControlName="name">
          <mat-option disabled selected id="newAttributeName" [value]="">
            Select a customer
          </mat-option>
          <mat-option *ngFor="let customer of customers; let i = index" id="newAttributeItem" [value]="customer | json">
            {{ customer.full_name }}
          </mat-option>
        </mat-select>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <mat-form-field class="flex-auto" required>
      <mat-label>Delivery Address</mat-label>
      <input formControlName="delivery_address" matInput />

      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <!-- <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Zipcode</mat-label>
        <input formControlName="zipcode" matInput>

        <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput>

        <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div> -->

    <mat-form-field class="flex-auto" required>
      <mat-label>Phone Number</mat-label>
      <input formControlName="phone_no" matInput />

      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <!-- <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea formControlName="notes" matInput></textarea>
    </mat-form-field> -->
  </mat-dialog-content>

  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td><mat-label>Items</mat-label></td>
        <td></td>
        <td>
          <button class="btn btn-default" type="button" (click)="addItem()">
            <mat-icon [icIcon]="icAdd"></mat-icon>
          </button>
        </td>
      </tr>
      <div
        formArrayName="items"
        *ngFor="let item of form.get('items')['controls']; let i = index"
      >
        <tr [formGroupName]="i">
          <td>
            <mat-form-field class="flex-auto">
              <!-- <mat-label>Item Name</mat-label> -->
              <mat-select  (selectionChange)="getPrice($event, i)" placeholder="Item Name" formControlName="name">
                <mat-option disabled selected id="newAttributeRole" [value]="">
                  Select an item
                </mat-option>
                <mat-option *ngFor="let product of products" id="newAttributeItem" [value]="product.name">
                  {{ product.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field>
              <input matInput formControlName="name" placeholder="Item" />
            </mat-form-field> -->
          </td>
          <td>
            <mat-form-field required>
              <input type="number" (change)="updatePrice($event, i)" matInput formControlName="qty" placeholder="Qty" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input readonly matInput formControlName="price" placeholder="Price" />
            </mat-form-field>
          </td>
          <!-- <td>
            <button
              class="btn btn-default"
              type="button"
              (click)="deleteFieldValue(i)"
            >
              <mat-icon [icIcon]="icDelete"></mat-icon>
            </button>
          </td> -->
        </tr>
      </div>
    </tbody>
  </table>

  <mat-form-field class="flex-auto">
    <mat-label>Total</mat-label>
    <input readonly cdkFocusInitial formControlName="total_amount" disabled matInput />

    <mat-icon class="mr-3" matPrefix>₦</mat-icon>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      CREATE ORDER
    </button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      UPDATE ORDER
    </button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <!-- <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button> -->

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
