<<<<<<< HEAD
.button {

  &.active {
    background: var(--background-hover);
  }

  .mat-icon {
    color: var(--toolbar-icon-color);
  }
}
=======
.button {

  &.active {
    background: var(--background-hover);
  }

  .mat-icon {
    color: var(--toolbar-icon-color);
  }
}
>>>>>>> 98d0c17... feat: push base  code to repository
