<<<<<<< HEAD
.mat-card {
  max-width: 500px;
}

.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
  margin-top: -14px;
}
=======
.mat-card {
  max-width: 500px;
}

.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
  margin-top: -14px;
}
>>>>>>> 98d0c17... feat: push base  code to repository
